extends layout

block content

  h1 Finished already? Submit here
  .row
    .col-md-6
      form(role='form', enctype='multipart/form-data', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-form-label.font-weight-bold File Input
          .col-md-6
            input(type='file', name='myFile')
        button.btn.btn-primary(type='submit') Submit

  h1 #{name} Challenge
  p.lead 
  hr
  .row
    .col-md-8
      h3 Creator:
<<<<<<< HEAD
      p #{creator} Fix to be name later
=======
      p #{creator}
>>>>>>> 256879ca9ea4d4567ce8625f8d8ac4ecfccd380d
      h3 Description:
      p #{description}
      h3 Reward:
      p #{reward}
  .row
    form(action='/challenges/signup' method='POST')
      input(type='submit' value='Sign Up For This Challenge!')
  .row
    .col-md-8
      h2 People Subscribed to This Challenge
      ul
        each val in [1, 2, 3, 4, 5]
          li= val
  .row
    .col-md-6
      h2 Your Challenges
      p This is where we're going to put the challenges that the user is subscribed to. name: user.profile.name
      p
      script.
        console.log('Foo bar');
      script(src="./script.js")
        if user
          
          p donkey   #{user.profile.name}
          p
        else
          p qpqpq
          p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
  .row
    form(action='/' method='POST')
      p
        | First Name: 
        input(type='text' name='first' value='')
        |          Last Name: 
        input(type='text' name='last' value='')
        |          Description: 
        input(type='text' name='description' value='')
      input(type='submit' value='Submit')
