extends layout


block content

  h1 #{name}
  p.lead 
  hr
  .row
    .col-md-8
      h3 Creator:
      p #{creator} 
      h3 Description:
      p #{description}
      h3 Reward:
      p #{reward}

    .row
    .col-md-8
      h2 #{numSubscribers} People Subscribed to This Challenge. See how they're doing!
    .col-md-8
      //- h3 Top Submissions:
        put the images of the top submissions here
        input#file(type='file',name='photo', accept='image/*')
  .row
    if is_already_signed_up
      .col-md-8
        h5 Tell Us About Your Progress:
          form(action='/challenges/update-progress' id='progress-update', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type="hidden" name="challenge_name" value=name)
            p
            label(class='col-form-label') 
            input(type='text' name='description' value='')
            //- .form-group
            //-   label.col-form-label File Input 
            //-   input(type='file', name='myFile')
            p 
            input(type='submit' value='Submit')
        p
        form(action='/challenges/unsubscribe', method='POST')
          input(type="hidden" name="challenge_name" value=name)
          input(type='submit', name='sign up button', value="Unsubscribe From This Challenge")
    else
      form(action='/challenges/signup', method='POST')
        input(type="hidden" name="challenge_name" value=name)
        input(type='submit', name='sign up button', value="Sign Up For This Challenge!")
    //- button(type='button', class=' c-btn-blue c-btn-circle c-btn-uppercase', value="Read More", onclick='clickme()')


            
  
  .row
    .col-md-6
      each val in updates
        p On #{val.created}
        p #{val.name} said:
        p #{val.description}

    //- .col-md-6
    //-   h4 Finished already? Submit here
    //-   .row
    //-     .col-md-6
    //-       form(role='form', enctype='multipart/form-data', method='POST')
    //-         input(type='hidden', name='_csrf', value=_csrf)
    //-         .form-group
    //-           label.col-form-label.font-weight-bold File Input
    //-           .col-md-6
    //-             input(type='file', name='myFile')
    //-         button.btn.btn-primary(type='submit') Submit
  
  
