extends layout


block content

  h3 #{name}
  p.lead 
  hr
  .row
    .col-md-8
      h3 Creator:
      p #{creator} 
      h3 Description:
      p #{description}
      h3 Reward:
      p #{reward}
  .row
    form(action='/challenges/signup', method='POST')
      input(type="hidden" name="challenge_name" value=name)
      input(type='submit', name='sign up button', value="Sign Up For This Challenge!")
    //- button(type='button', class=' c-btn-blue c-btn-circle c-btn-uppercase', value="Read More", onclick='clickme()')


            
  .row
    .col-md-8
      h2 #{numSubscribers} People Subscribed to This Challenge
      ul
        each val in [1, 2, 3, 4, 5]
          li= val

    .col-md-6
      h4 Finished already? Submit here
      .row
        .col-md-6
          form(role='form', enctype='multipart/form-data', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-form-label.font-weight-bold File Input
              .col-md-6
                input(type='file', name='myFile')
            button.btn.btn-primary(type='submit') Submit
    
    .row
      h4 Share your progress:
        form(action='/challenges/update-progress' id='progress-update', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type="hidden" name="challenge_name" value=name)
          p
          label(class='col-form-label font-weight-bold') Tell Us About Your Progress: 
          input(type='text' name='description' value='')
          .form-group
            label.col-form-label.font-weight-bold File Input
            input(type='file', name='myFile')
          p 
          input(type='submit' value='Submit')
    
