extends layout

block content
  h1 Challenge Hub
  p.lead A place to create your challenges
  hr
  .row
    .col-md-6
      h2 Challenges you're Hosting

      ul
        each val in list_of_challenges
          p
          a(href='/challenges/' + val.challenge_name)= val.challenge_name

        p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
          h2 Challenges you're subscribed to
  h1 Trending Challenges
  hr
  .row
    each val in popular_challenges
      .col-md-6
        p
        h3 #{val.challenge_name}
        p #{val.description}
        p
          strong Reward: 
          | #{val.reward}
        a.btn.btn-raised(href='/challenges/' + val.challenge_name, role='button') Check it out! »
  
  //- h2 Recent Uploads 
  //-   hr 
  //-   .row 
  //-   each val in recent_uploads
  //-     .col-md-6
  //-     p
  //-     h3 #{val.user}
  //-     p #{val.path}
      //-img.className#IdName(src= #{val.path} alt="Did not render")

        

          
    
  //- .row
  //-   form(action='/' method='POST')
  //-     p
  //-       | First Name: 
  //-       input(type='text' name='first' value='')
  //-       |          Last Name: 
  //-       input(type='text' name='last' value='')
  //-       |          Description: 
  //-       input(type='text' name='description' value='')
  //-     input(type='submit' value='Submit')
