extends layout

block content
  h1 Challenge Hub
  p.lead A place to create your challenges
  hr
  .row
    .col-md-6
      h2 Challenges you're Hosting

      ul
        each val in list_of_challenges
          p
          a(href='/challenges/' + val.challenge_name)= val.challenge_name

        p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
          h2 Challenges you're subscribed to
  .row
    h2 Popular Challenges
      each val in popular_challenges
        .col-md-6
          p
          a(href='/challenges/' + val.challenge_name)= val.challenge_name
  .row
    //- carousel caption
    mixin carousel-caption(item)
      .carousel-caption
        unless !item.h1
          h1 #{item.h1}
        unless !item.p
          p #{item.p}
        unless !item.button
          p
            a.btn.btn-lg.btn-primary(href=item.button.url role="button") #{item.button.caption}
    mixin carousel(id,items)
      .carousel.slide(id="carousel-" + id ,data-ride="carousel")
        //- Indicators
        ol.carousel-indicators
          each item,index in items
            if(index === 0)
              li.active(data-target="#carousel-" + id, data-slide-to=index)
            else
              li(data-target="#carousel-" + id, data-slide-to=index)


        //- Wrapper for slides
        .carousel-inner(role="listbox")
          each item,index in items
            if(index === 0)
              .item.active
                img(src=item.image)
                +carousel-caption(item)

            else
              .item
                img(src=item.image)
                +carousel-caption(item)

        //-  Controls
        a.left.carousel-control(href="#carousel-" + id, role="button", data-slide="prev")
          +icon("chevron-left")
          span.sr-only Previous
        a.right.carousel-control(href="#carousel-" + id, role="button", data-slide="next")
          +icon("chevron-right")
          span.sr-only Next
        

          
    
  //- .row
  //-   form(action='/' method='POST')
  //-     p
  //-       | First Name: 
  //-       input(type='text' name='first' value='')
  //-       |          Last Name: 
  //-       input(type='text' name='last' value='')
  //-       |          Description: 
  //-       input(type='text' name='description' value='')
  //-     input(type='submit' value='Submit')
